@import 'components/ui/button/button.module';
@import 'utils/variables';
@import 'utils/media';

.todo {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 30px;
	padding: 40px;
	background: $color-white;
	border-radius: 36px;

	@include media-tablet {
		padding: 20px;
		padding-bottom: 40px;
		border-radius: 24px;
	}
}

.todo__input {
	height: 60px;
}
