@import 'reset-css';
@import 'utils/variables';

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	font: normal 20px Roboto, Arial, sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	background: $color-blue-50;
	color: $color-black;
}

.hidden {
	display: none;
}
